/** @format */

@import 'reset.scss';

.flex {
  display: flex;
  justify-content: space-around;
  margin: 5.5rem;
  position: relative;
}

.container {
  position: relative;
  height: 80vh;
  width: 100%;
  font-family: 'bangers';
  background-image: url('/mario.jpg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 100% 35%;
}

.container::before {
  content: '';
  background-image: url('/mario2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}

* {
  letter-spacing: 1.5px;
}

h1 {
  font-size: 50px;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  opacity: 0.6;
}

.leader-board {
  overflow-y: scroll;
  height: 300px;
  position: relative;
}

h3 {
  display: inline-block;
  font-size: 30px;
  padding: 20px;
}

button {
  font-family: 'bangers';
  color: red;
  font-size: 20px;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

button[type='submit'] {
  margin: 10px 0 0 160px;
}

p {
  font-size: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

li {
  background: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}

li:nth-child(2n) {
  background: #ccc;
}

footer {
  text-align: center;
  margin: 175px;
}

a {
  text-decoration-line: none;
}
