@import 'reset.scss';

.flex {
  display: flex;
  justify-content: space-around;
  margin:7.5rem;
}

.container{
  //background-image: url('/mario2.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: auto;
  font-family: 'bangers';

}
*{
  box-sizing: border-box;
}
h1{
  font-size: 50px;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  opacity: 0.4;
}

// p{
//   margin-bottom: 1.5rem;
// }

h3 {
  display: inline-block;
  font-size: 30px;
  padding: 20px;
}



form {
  flex-direction: column;
  display: flex;
}

button {
  font-family: 'bangers';
  color: red;
  font-size: 20px;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.recent-scores{
  text-align: center;
}

.leader-board {
  overflow: scroll;
  height: 300px;
}